/*profile picture of user in profile page*/
#profileImage{
  height: 150px;
  width: 150px;
  float: left;
  border-radius: 50%;
}

/*post image size */
#cover_image{
  height: 250px;
  width: 250px;
}

/*globe color of online user*/
#onlineColor{
	color: green;
}

/*color upon loading the names vue js*/
[v-cloak] { 
	display:none; 
}

/*post title of blogs*/
#postTitle{
	text-decoration: none; 
}

/*for testing*/
/*html body {
  background-color: red;
}*/