#profileImage{
  height: 150px;
  width: 150px;
  float: left;
  border-radius: 50%;
}

#cover_image{
  height: 250px;
  width: 250px;
}

#onlineColor{
	color: green;
}

[v-cloak] { 
	display:none; 
}
/*html body {
	background-color: red;
}*/
#postTitle{
	text-decoration: none; 
}